# Core functionality - changes here should be rare!
/src/app.py                   @FaresOuhachi
/src/backend/database.py      @FaresOuhachi
/src/backend/routers/auth.py  @FaresOuhachi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @FaresOuhachi
